<!-- <h2 id="footer"> Footer #1 </h2> -->

<section class="grid padded" id="contact">
  <div class="col-6_sm-12 padded">
    <h2> Get In Touch </h2>
    <p> Head Office: 30 Muramats Road East Arm NT 0822 </p>
    <p> Postal Address: P.O Box 1346 Berrimah NT 0828 </p>
    <p><a class="no-padding" href="mailto:info@constructabilitynt.com.au?subject=enquiries"><strong> Email: </strong> info@constructabilitynt.com.au </a></p>
    <p><a class="no-padding" href="tel:0499 476 055"><strong> Phone: </strong> Mark -  0499 708 919 or Brad - 0499 476 055 </a></p>
    <!-- <p> <strong> Facebook: </strong> fb.com/companyname </p> -->
  </div>
  <div class="col-6_sm-12-middle padded">
    <form class="grid-center" action="/emailacknowledgement.html" method="POST">
      <div class="col-6_sm-12">
        <input type="text" name="name" placeholder="Your Name">
      </div>
      <div class="col-6_sm-12">
        <input type="email" name="_replyto" placeholder="Your Email">
      </div>
      <div class="col-12">
        <textarea name="message" placeholder="Your Message"></textarea>
        <input type="submit" value="Send" class="button">
      </div>

      <input type="hidden" name="_to" value="brad@ninoconstructions.com.au,storywizard01@gmail.com">

    </form>
  </div>
</section>

<footer class="grid-bottom-right padded blocksleft" id=information >
  <!-- column -->

  <!-- <div class="col-1 sm-hidden">  empty filler </div> -->

  <!-- column -->
  <div class="col-3_sm-4_xs-12 right padded-1">
    <h3> Capabilities </h3>
    <nav>
      <a href="civilconstruction.html#"> Civil Construction </a>
      <a href="projectmanagement.html"> Project Management </a>
      <a href="prefeasabilityplanning.html"> Pre-feasability Planning </a>
      <a href="projectexecution.html"> Project Execution </a>
    </nav>
  </div>

  <!-- column -->
  <!-- <div class="col-3_sm-4_xs-12 right padded-1">
    <h3> Featured Projects </h3>
    <nav>
      <a href="T155featureproject.html"> T155 Port Hedland </a>
      <a href="project3.html"> Dalgaranga Gold Mt Magnet </a>
      <a href="project4.html">Edna May Gold Westonia </a>
      <a href="project5.html"> T45 Port Hedland </a>
    </nav>
  </div> -->

  <!-- column -->
  <div class="col-3_sm-4_xs-12 right padded-1">
    <h3> Information </h3>
    <nav>
      <a href="policies.html"> Policies </a>
      <a href="privacy&legal.html"> Privacy & Legal </a>
      <a href="careers.html"> Careers </a>
      <a href="sitemap.html"> Sitemap </a>
    </nav>
  </div>


</footer>

<!-- footer #2 -->
<footer class="storywizard grid-middle-center">

  <a class="col-3_sm-12 grid-middle-center" href="tel:0417083929">created by <img src="images\fullcolourlogo.jpg">0417083929 </a>

  <a href="#top" class="backtotop">
    <i class="fas fa-caret-square-up"></i>
  </a>

</footer>


<!-- these are all of your javascript links that will be added to the bottom of each page. Add new javascript resources here, or edit the main.js file to add your custom javascript or jquery -->

<!-- adds jQuery library to your site -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script> -->

<!-- adds Magnific Popups javascript -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script> -->

<!-- this is your custom javascript/jQuery file -->
<!-- <script src="/assets/main.js"></script> -->
