<!-- This is your site header, you can replace this with whichever header you want to use -->
<!-- <div class="bump-for-header"> </div> -->


<!--  -->
<!-- <h2> Header #4 </h2> -->
<!-- <h2> Full Split Banner </h2> -->

<section id="top" class="grid-middle-spaceBetween blocksright banner image padded">
  <div class="col-5_sm-12">
    <img src="images\Constructability-NT_grey.png">
  </div>
  <div class="col-2"></div>
  <div class="col-6_sm-12-middle">
    <!-- <h2 class="big-bold"> This will be the business card image with logo and graphics once png transparent file is made up by GD </h2> -->
    <p class="emphasis"> Quality is Our standard. Excellence is our Benchmark.</p>
    <!-- <a href="#" class="button"> Sign me up!</a> -->
  </div>
  <!-- <div class='hamburger'>
      <i class="fas fa-bars"></i>
    </div>
    <div class='mobile-nav'>
      <a href="#what">What We Do</a>
      <a href="#history">History</a>
      <a href="#services">Services</a>
      <a href="#clients">Capabilities</a>
      <a href="#faqs">Faqs</a>
      <a href="#testimonials">Testimonials</a>
      <a href="#contact">Contact</a>
    </div> -->

  <header class="grid-middle col-6">
    <nav class="burger-menu col-12-middle center">
      <a href="index.html"> Home </a>
      <a href="/#about"> About </a>
      <a href="/#capabilities"> Capabilities </a>
      <a href="/#featuredprojects"> Projects </a>
      <a href="careers.html"> Careers </a>
      <a href="/#contact"> Contact </a>
      <a href="/#information"> Information </a>
    </nav>
  </header>
  <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
      </div>
</section>

<!-- banner with header -->
<!-- <section class="banner-with-header grid-center padded">
  <header class="absolute-header grid">
    <div class="background-image">
      <a href="T155featureproject.html">

      <!-- </a>
    </div>
    <nav class="col-8-middle right">
      <a href="#"> Link </a>
      <a href="#"> Link </a>
      <a href="#"> Link </a>
      <a href="#"> Link </a>
    </nav>
  </header> -->
  <!-- <div class="col-6_sm-12-middle centered"> -->
    <!-- <h2 class="big-bold">  </h2>
    <h3 class="not-bold">  </h3> -->
  <!-- </div> -->
  <!-- this is the button to open and close your hamburger menu -->
   <!-- <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div> -->

  <!-- This is the mobile menu  -->
  <!-- <nav class="mobile-menu">
    <a href="/blocks"> Blocks </a>
    <a href="/blog"> Blog </a>
    <a href="/archive"> Archive </a>
    <a href="#" class="emphasis"> Call to Action </a>
  </nav> -->

<!-- </section> -->
